<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=EF.Sofomo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
	</connectionStrings>
	<appSettings>
		<add key="ConnectionString" value="data source=(LocalDb)\MSSQLLocalDB;initial catalog=EF.Sofomo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
	</appSettings>
</configuration>